/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #00faff;
  background-image: linear-gradient(to bottom, #5c59c1, #7fb3e0 100%);
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 100%;
} 
.container {
  max-width: 200px;
  margin: 1;
  min-height: 100%;
  background: linear-gradient;
}  

.container2 {
  max-width: 100%;
  margin: 1;
  min-height: 100%;
  background: linear-gradient;
  text-align: center;
}

.user-container {
  background-color: lavender;
}
header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
  text-align: center;
  color: white;
}
 
#login-buttons {
  display: block;
}
 
h1 {
  font-size: 1.5em;
  margin: 0;
  margin-top: 11px;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
  text-shadow: silver 2px 3px;
}

h2 {
  font-size: 1.5em;
  margin: 0;
  display: inline-block;
  margin-right: 1em;
  color: black;
  text-shadow: silver 2px 3px;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}
 
.new-genre input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}
 
.new-genre input:focus{
  outline: 0;
}
 
ul {
  margin: 0;
  padding: 0;
  background: linear-gradient;
}
 
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
 
p {
  color: black;
  text-shadow: 2px 1px silver;
}

a {
  color: #589ffc;
}

li {
  position: relative;
  list-style: none;
  padding: 5px;
  border-bottom: orange solid 1px;
  color: #6047ad;
  text-align: center;
}
 
li .text {
  margin-left: 10px;
}
 
li.checked {
  color: #888;
}
 
li.checked .text {
  text-decoration: line-through;
}
 
li.private {
  background: #eee;
  border-color: #ddd;
}
 
header .hide-completed {
  float: right;
}
 
.toggle-private {
  margin-left: 5px;
}

.new-user {
  margin-right: 75%;
  border-radius: 15px;
  background-color: #b186c9;
  padding: 10px;
}

.login-link-and-dropdown-list {
  font-size: 20px;
  margin-left: 80%;
  background-color: #b186c9;
  border-radius: 10px;
  padding: 5px;
  margin-top: -10px;
  display: inline-block;
  margin-right: 1em;
  max-width: 75px;
}

.login-link-text {
  color: white;
}

button {
  background-color: black;
  color: white;
  border-color: black;
  width: 100%;
  font-size: 25px;
} 

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
 
  .search {
    width: 150px;
    clear: both;
  }
 
  .new-genre input {
    padding-bottom: 5px;
  }
}